*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6dd;
}
.container{
    width: 200px;
     background-color: #fff;
     height: 250px;
      display: flex;
       flex-direction: column;
      justify-content: center;
      align-items: center; 
      border-radius: 5px;
}.container input{
  padding: 7px;
  outline: none;
  margin-top: 20px;
}
 .container a {
  display: block;
  padding: 3px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  width: 100px;
  text-align: center;
  margin-top: 7px;
 }